@model OrderViewModel
@using MyShop_Entities.Helper

@{
    ViewBag.PageTitle = "التحكم في الطلبات";
    ViewBag.CardTitle = " تفاصيل الطلب";
    Layout = "~/Views/Shared/_Dashbord.cshtml";
}

<style>
    button:hover {
        background-color: #0056b3;
    }
    .total {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
    }
    @@media (max-width: 768px) {
        .order-summary ul.list-group {
            margin-bottom: 1.5rem;
        }
        .total {
            flex-direction: column;
            text-align: right;
        }
        .total div:first-child {
            margin-bottom: 0.5rem;
        }
    }
</style>

<form method="post" asp-action="updateOrderDetails">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 mb-4">
                <div class="pickup-details">
                    <h2>تفاصيل الطلب</h2>
                    <input asp-for="Order.Id" type="hidden" />
                    <div class="form-group">
                        <label class="form-label" asp-for="@Model.Order.Name" for="name">الاسم</label>
                        <input class="form-control" asp-for="@Model.Order.Name" type="text" id="name">
                    </div>
                    
                    <div class="form-group">
                        <label class="form-label" for="whatsapp-number">رقم الهاتف و الواتساب</label>
                        <div class="d-flex align-items-center">
                            <input class="form-control" readonly asp-for="@Model.Order.PhoneNumber" type="text" id="whatsapp-number">
                            <a href="https://wa.me/@Model.Order.PhoneNumber" target="_blank" class="ms-2">
                                <i class="fa-brands fa-whatsapp" style="font-size: 36px; margin-left: 10px; color: #25D366;"></i>
                            </a>
                        </div>  
                    </div>

                    <div class="form-group">
                        <label class="form-label" asp-for="@Model.Order.Address" for="address">العنوان</label>
                        <input class="form-control" asp-for="@Model.Order.Address" type="text" id="address">
                    </div>
                    <div class="form-group">
                        <label class="form-label" asp-for="@Model.Order.City" for="city">المدينه</label>
                        <input class="form-control" asp-for="@Model.Order.City" type="text" id="city">
                    </div>
                    <div class="form-group">
                        <label class="form-label" asp-for="@Model.Order.Email" for="email">البريد الاليكتروني</label>
                        <input class="form-control" readonly asp-for="@Model.Order.Email" type="email" id="email">
                    </div>
                    <div class="form-group">
                        <label class="form-label" asp-for="@Model.Order.OrderDate">تاريخ الطلب</label>
                        <input class="form-control" readonly asp-for="@Model.Order.OrderDate" type="date" id="order-date">
                    </div>
                  
                    <div class="form-group">
                        <label class="form-label" for="@Model.Order.PaymentStatus">حاله الدفع</label>
                        <input class="form-control" readonly asp-for="@Model.Order.PaymentStatus" type="text" id="payment-status">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="@Model.Order.OrderStatus">حاله الطلب</label>
                        <input class="form-control" readonly asp-for="@Model.Order.PaymentStatus" type="text" id="payment-status">
                    </div>
                  @*   <input class="btn btn-primary" asp-action="updateOrderDetails" type="submit" value="Update Pickup Details"> *@
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="order-summary">
                    <h2 class="text-center">ملخص الطلب </h2>
                    <div class="container text-center">
                        <div class="btn btn-outline-primary text-center mb-2 mt-2 col-12">حاله الطلب - @Model.Order.OrderStatus</div>
                    </div>
                    <ul class="list-group mb-3">
                        @foreach (var item in Model.OrderDetails)
                        {
                            <li class="list-group-item d-flex justify-content-between p-2">
                                <div class="row container">
                                    <div class="col-8">
                                        <h6 class="my-0 text-primary">@item.Product.Name</h6>
                                        <small class="text-muted">Price : @item.Product.Price</small>
                                        <br />
                                        <small class="text-muted">Quantity : @item.Count</small>
                                    </div>
                                    <div class="col-4 text-end me-1">
                                        <p class="text-success">@((item.Count * item.Price).ToString("c"))</p>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                    <ul class="list-group mb-3">   
                        <div class="total">
                            <div>Total :</div>
                            <div class="text-success">@Model.Order.TotalPrice.ToString("C")</div>
                        </div>
                    </ul>
                    <div class="d-flex flex-column flex-lg-row justify-content-between">
                        @if(Model.Order.OrderStatus == Helpers.Approve)
                        {
                            <input class="btn btn-primary mb-2 mb-lg-0" asp-action="StartProcess" type="submit" value="Start Process">
                        }
                        @if (Model.Order.OrderStatus == Helpers.Procceing)
                        {
                            <input class="btn btn-success mb-2 mb-lg-0"  asp-action="StartShip" type="submit" value="Start Shipping">
                        }
                        @if (Model.Order.OrderStatus != Helpers.Canceled || Model.Order.OrderStatus != Helpers.Refund)
                        {
                            <input class="btn btn-danger mb-2 mb-lg-0" type="submit" asp-action="CancelOrder" value="Cancel Order">
                        }
                    </div>
                </div>  
            </div>
        </div>
    </div>
</form>

@section Scripts{


   @*  <script>
        function CheckData() {
            if (document.getElementById("Carrir").value == '') {
                swal.fire({
                    title: "This is an error",
                    text: "Enter Carrier please!",
                    icon: "error",
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                }); 
                return false;
            }
            if (document.getElementById("tracking").value === '') {
                Swal.fire({
                    title: "This is an error",
                    text: "Enter tracking number please!",
                    icon: "error",
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                });
                return false;
            }
            return true;
        }
    </script> *@
}
